@import "tailwindcss";
@plugin "daisyui";

/* In your global CSS (index.css) */
html,
body {
  height: 100%; /* Ensure full screen height */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

@media (min-width: 1024px) {
  body {
    background-image: url("./assets/background.png");
  }
}
@media (max-width: 1024px) {
  body {
    background-color: #f8edda;
  }
}
